/*
!/project_charter.md
!/project_context.md
!/business_case_assessment.md
!/raci_governance_matrix.md
!/business_requirements_document.md
!/business_requirements_document_template.md
!/google_stitch_prompts.md
!/functional_specification_document.md
!/functional_specification_document_template.md
!/non_functional_requirements.md
!/requirements_traceability_matrix.md
!/agro_smart_high_level_design.md
!.gitignore
